@font-face {
    font-family: 'printingboxBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2507-1@1.0/printingboxBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

body {
    display: grid;
    background-color: #EEEEEE;
    color: #222831;
}

body a{
    text-decoration: none;
    color: black;
}

body a:hover{
    color: rgba(0, 0, 0, 0.5);
}

.Title{
    font-size: 25pt;
}

.Name{
    color: #57564F;
}


.center{
    float: auto;
    text-align: center;
    font-family: 'printingboxBold';
}


.Left{
    width: 600px;
    text-align: center;
    float: left;
}

.Right{
    width: 600px;
    text-align: center;
    float: right;
}

.height{
    margin-top: 500px;
}

.red{
    color: #DC2525;
}

.tableAward{
    background-color: #dbdbdb;
    text-align: center;
    border: 1px solid black;
}
.tableAward td{
    width: 500px;
    border: 1px solid black;
}